$white1: rgba(243, 243, 243, 1);
$white2: rgba(237, 237, 237, 1);
$white50: rgba(white, 0.5);
$white75: rgba(white, 0.75);
$black40: rgba(black, 40);
$black50: rgba(black, 50);
$grey: #999;
$medBlue: rgb(0, 116, 217);
$medGrey: #666;
$darkGrey: #333;
$grey2: #9D9D93;
$grey3: #5C5151;
$red: #e74c3c;
$formRed:$red;
$blue: rgba(44, 62, 80, 1);
$blueA: rgba(44, 62, 80, .8);
$hover: #000;
$active: $hover;

$fire1: rgba(70, 137, 102, 1);
$fire2: rgba(255, 239, 165, 1);
$fire3: rgba(255, 175, 59, 1);
$fire4: rgba(182, 73, 38, 1);
$fire5: rgba(142, 40, 0, 1);

// more Colors
$dk-blue-rvt: #083d8c;
$md-blue-rvt: #216ddf;
$aqua-rvt: #02c7c6;
$lt-gray-rvt: #f6f6f6;
$md-gray-rvt:#dedede;
$dk-gray-rvt:#999;

$orange: #f76030;
$orange2: #fb5f24;
$dk-orange: darken($orange, 15);
$red: #f93b32;
$purp: #aa3655;
$burg: #5b2d3c;
$lt-grey: #f5f5f5;
$grey: #7d7d7d;
$dk-grey: #333;
$shadow: #241f1c;
$bg-clr: #fff;

// bg gradients
$trans-right: linear-gradient(90deg, rgba($lt-grey, 1) 45%, rgba($lt-grey, 0) 100%);
$trans-left: linear-gradient(270deg, rgba($lt-grey, 1) 45%, rgba($lt-grey, 0)) 100%;
$trans-down: linear-gradient(0deg, rgba($lt-grey, 1) 10%, rgba($lt-grey, .75) 30%, rgba($lt-grey, .3)) 100%;

//gradient class
%white-gloss {
	//http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232
	background-color: white; // Old browsers
	//@include filter-gradient(white, white, vertical); // IE6-9
	background-image: linear-gradient(to bottom, white 0%, $white1 50%, $white2 51%, white 100%);
}