header {
	text-align: center;
	position: fixed;
	background: white;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	.logo{padding:0 25px;}
	nav {
		&.sticky {
			margin: 0;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1000;
			background: white
		}
	}
	.flex-wrapper {
		@include flex(space-between);
		@include set-max-width;
	}
	.account {
		background: $dk-blue-rvt;
		display: none;
		@include desktop {
			@include flex;
		}
		color: white;
		a {
			color: currentColor
		}
	}
}

.main-nav {
	@include flex();
	@include not-desktop {
		display: none;
	}
	li {
		display: inline-block;
		margin: 10px 5px;
	}
	&.right {
		justify-content: flex-end
	}
	&.left {
		justify-content: flex-start
	}
}

.mobile-menu {
	$stroke: $dk-blue-rvt;
	$menu-bg: $stroke;
	$menu-link-hover: blue;
	$menu-link: white;
	@include desktop {
		display: none;
	}
	@include flex($direction: column);
	position: relative;
	margin-right: 35px;
	ul {
		@include flex($direction: column);
	}
	a#hamburger {
		@include flex;
	}
	.hamburger {
		width: 55px;
		height: 45px;
		position: relative;
		margin: 50px auto;
		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
		cursor: pointer;
		span {
			display: block;
			position: absolute;
			height: 7px;
			width: 50%;
			background: $stroke;
			opacity: 1;
			transform: rotate(0deg);
			transition: 0.25s ease-in-out;
			&:nth-child(even) {
				left: 50%;
				border-radius: 0 9px 9px 0;
			}

			&:nth-child(odd) {
				left: 0;
				border-radius: 9px 0 0 9px;
			}

			&:nth-child(1),
			&:nth-child(2) {
				top: 0;
			}

			&:nth-child(3),
			&:nth-child(4) {
				top: 18px;
			}

			&:nth-child(5),
			&:nth-child(6) {
				top: 36px;
			}
		}
	}
	.collapse {
		transition: all .15s ease-out;
		position: fixed;
		display: block;
		background: rgba($menu-bg, .85);
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		transform: translate(150%, 0);
		padding: 135px 20px 20px;
		z-index: -3;
		li {
			a {
				font-size: 2em;
				font-family: $fontHead;
				text-align: left;
				justify-content: flex-end;
				color: $menu-link;
				&:visited {
					color: $menu-link
				}
				&:hover, &:active {
					color: $menu-link-hover;
				}
			}
			padding: 0;
			&:after {
				display: none
			}
		}
	}
	&.opened {
		.hamburger span {
			background-color: $menu-link;
			&:nth-child(1),
			&:nth-child(6) {
				transform: rotate(45deg);
			}
			&:nth-child(2),
			&:nth-child(5) {
				transform: rotate(-45deg);
			}

			&:nth-child(1) {
				left: 5px;
				top: 7px;
			}

			&:nth-child(2) {
				left: calc(50% - 5px);
				top: 7px;
			}

			&:nth-child(3) {
				left: -50%;
				opacity: 0;
			}

			&:nth-child(4) {
				left: 100%;
				opacity: 0;
			}
			&:nth-child(5) {
				left: 5px;
				top: 29px;
			}
			&:nth-child(6) {
				left: calc(50% - 5px);
				top: 29px;
			}
		}
		.collapse {
			transition: all .65s ease-in;
			transform: translate(0) scale(1);
		}
	}
}