header {
	text-align: center;
	position: fixed;
	background: white;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	.logo {width:230px;
		margin:10px 0;
		padding: 0 15px 0 25px;
		@media (max-width: $rvt-menu-bp-max) {
			padding-left:15px;
			padding-right:5px;
		}
	}
	nav {
		background: white;box-shadow: 0 3px 10px 0 rgba(#000,.5);
		@media (max-width:$rvt-menu-bp-max){}
		&.sticky {
			margin: 0;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1000;
		}
	}
	.flex-wrapper {
		@include flex(space-between);
		width:100%;
		@include set-max-width;
	}
	.account {
		background: $dk-blue-rvt;
		.mw-wrapper {
			@include set-max-width;
			display: none;
			@media (min-width: $rvt-menu-bp) {
				@include flex(flex-end);
			}
			color: white;
		}
		li {
			padding: 8px 30px;
		}
		a {
			color: currentColor
		}
	}
}

.loc-btn {
	@include marding(5px 30px 5px auto, 4px 8px);
	background: none;
	min-width: 120px;
	border-radius: 3px;
	border: 1px solid $md-blue-rvt;
	color: $md-blue-rvt;
	cursor: pointer;
	font-weight:bold;
	@media(max-width: $rvt-menu-bp-max) {
		min-width: 95px;
		font-size: .75em;
		text-transform: uppercase;
		> span {
			display: none
		}
		margin-left:15px;
	}
	@media(max-width: $bp-xs-max){margin: 5px;}
	transition: background-color .5s ease-in-out, color .25s ease-in-out;
	&:hover,&:active {
		background-color: $md-blue-rvt;
		border-color:transparent;
		color:white;
	}
}

.main-nav {
	flex:1;
	@include flex(flex-end);
	@media (max-width: $rvt-menu-bp-max) {
		display: none;
	}
	li {
		display: inline-block;
		margin: 35px 15px;
		font-weight:800;
		a {
			color: $dk-blue-rvt;
			&:hover, &:active {
				color: $md-blue-rvt;
			}
		}
	}
}

.mobile-menu {
	$stroke: $aqua-rvt;
	$menu-bg: $lt-gray-rvt;
	$menu-link-hover: $stroke;
	$menu-link: $dk-gray-rvt;
	@media (min-width: $rvt-menu-bp) {
		display: none;
	}
	@media(max-width: $bp-xs-max){margin-top: 0;}
	@include flex($direction: column);
	position: relative;
	z-index: 10;
	margin: 5px 5px 0 0;
	ul {
		@include flex($direction: column);
	}
	a#hamburger {
		@include flex;
	}
	.hamburger {
		width: 55px;
		height: 45px;
		position: relative;
		margin: 0 auto;
		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
		cursor: pointer;
	}
	.collapse {
		overflow: hidden;
		transition: all .15s ease-out;
		position: fixed;
		display: block;
		background: #fff;
		right: 0;
		left: 0;
		top: 0;
		bottom: auto;
		transform: translate(150%, 0);
		padding: 0 0 0; // 135px 20px 20px;
		z-index: -3;
		.mobile-menu-header {
			padding: 25px 0;
			border-top: 5px solid $aqua-rvt;
			p {
				font: bold 1.4em $fontHead
			}
			i:before {
				cursor: pointer;
				color: $dk-blue-rvt;
				position: absolute;
				top: 21px;
				right: 17px;
				font-size: 1.5em;
			}
		}
		ul {
			border-bottom: 5px solid $aqua-rvt
		}
		li {
			width: 100%;
			display: block;
			margin: 1px 0;
			background: $menu-bg;
			a {
				position: relative;
				display: block;
				width: 100%;
				padding: 30px 20px;
				font-size: 1.5em;
				font-weight: bold;
				font-family: $fontHead;
				text-align: left;
				justify-content: flex-end;
				color: $menu-link;
				&:visited {
					color: $menu-link
				}
				&:hover, &:active {
					color: $menu-link-hover;
				}
				&:after {
					position: absolute;
					right: 20px;
					top: 50%;
					transform: translateY(-50%);
					color: $aqua-rvt;
					font-family: $fontIcon;
					content: '\25BB';
				}
			}
			padding: 0;
			&:after {
				//display: none
			}
		}
	}
	&.opened {
		.hamburger {
			opacity: 0;
			width: 0;
		}
		.collapse {
			transition: all .65s ease-in;
			transform: translate(0) scale(1);
		}
	}
}