header {
	text-align: center;
	position: fixed;
	background: white;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	.logo{padding:0 25px;}
	nav {
		&.sticky {
			margin: 0;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1000;
			background: white
		}
	}
	.flex-wrapper {
		@include flex(space-between);
		@include set-max-width;
	}
	.account {
		background: $dk-blue-rvt;
		display: none;
		@include desktop {
			@include flex;
		}
		color: white;
		a {
			color: currentColor
		}
	}
}

.main-nav {
	@include flex();
	@include not-desktop {
		display: none;
	}
	li {
		display: inline-block;
		margin: 10px 5px;
	}
	&.right {
		justify-content: flex-end
	}
	&.left {
		justify-content: flex-start
	}
}

.mobile-menu {
	$stroke: $aqua-rvt;
	$menu-bg: $lt-gray-rvt;
	$menu-link-hover: $stroke;
	$menu-link: $dk-gray-rvt;
	@include desktop {
		display: none;
	}
	@include flex($direction: column);
	position: relative;
	z-index:10;
	margin-right: 35px;
	ul {
		@include flex($direction: column);
	}
	a#hamburger {
		@include flex;
	}
	.hamburger {
		width: 55px;
		height: 45px;
		position: relative;
		margin: 50px auto;
		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
		cursor: pointer;
	}
	.collapse {
		overflow: hidden;
		transition: all .15s ease-out;
		position: fixed;
		display: block;
		background: #fff;
		right: 0;
		left: 0;
		top: 0;
		bottom: auto;
		transform: translate(150%, 0);
		padding: 0 0 0; // 135px 20px 20px;
		z-index: -3;
		.mobile-menu-header{padding:25px 0;border-top:5px solid $aqua-rvt;p{font: bold 1.4em $fontHead}}
		ul{border-bottom:5px solid $aqua-rvt}
		li {
			width: 100%;
			display: block;
			margin: 1px 0;
			background: $menu-bg;
			a {position: relative;
				display: block;
				width: 100%;
				padding:30px 20px;
				font-size: 1.5em;
				font-weight:bold;
				font-family: $fontHead;
				text-align: left;
				justify-content: flex-end;
				color: $menu-link;
				&:visited {
					color: $menu-link
				}
				&:hover, &:active {
					color: $menu-link-hover;
				}
				&:after {position:absolute; right:20px;top:50%;transform: translateY(-50%);
					color: $aqua-rvt;
					font-family: $fontIcon;
					content: '\25BB';
				}
			}
			padding: 0;
			&:after {
				//display: none
			}
		}
	}
	&.opened {
		.hamburger{opacity:0;width:0;}
		.collapse {
			transition: all .65s ease-in;
			transform: translate(0) scale(1);
		}
	}
}