//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not './../images/image.jpg'
ul.menu.account
	.mw-wrapper
		li
			a(href="#") Dealers and Distributors
		li
			a.commercial-icon(href="#")
				| Commercial Service
				img(src="./images/action-commercial-icon.png")
