//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not './../images/image.jpg'
ul.menu.footer-1
	li
		a(href="#") Pool Pros
	li
		a(href="#") Privacy Policy
	li
		a(href="#") Terms and Conditions