//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not './../images/image.jpg'
a#back-to-top.back-to-top(href="#top") Back to Top
footer
	img.logo(src="./images/pool-pros-logo-footer.png")
	include menus/follow-menu
	include menus/account-menu
	include menus/footer-menu
